<p>
— прихожая с кухонным уголком,<br><br>
— от 2 до 11 односпальных кроватей (в зависимости от выбранного номера),<br><br>
— холодильник,<br><br>
— микроволновая печь,<br><br>
— чайник,<br><br>
— постельное белье,
</p>
</p>