<p>
— кухонная зона,<br><br>
— 2-х спальная кровать,<br><br>
— раскладной диван,<br><br>
— холодильник,<br><br>
— микроволновая печь,<br><br>
— чайник,<br><br>
— посуда,<br><br>
— постельное белье,<br><br>
— санузел,<br><br>
— душ,<br><br>
— телевизор.
</p>
</p>




