<div id = "status" 
		style = "position: absolute; top: 100px; border: none; position: relative; width: 580px; height: 50px;">
</div>



<div style = "	position: relative; 
	width: 500px; 
	border: solid 1px #CAA79C;
	border-style: outset;	
	background: #CAA79C;
	display: inline-block; 
	vertical-align: top;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 100px;
	font-family: 
	">
	
	<br>
	<strong>
	<a style = "color: #fff;  padding-right: 10px; font-size: 25px; font-family: pragmatica; float: left; " >
		Вход в личный кабинет
	</a>
	
	<br><br><br>
	
	<a style = "color: #fff;  padding-right: 20px; font-size: 20px; font-family: pragmatica; float: left; " >
		Выбрать:
	</a>
	<select name = "login" id = "login" style = "background: rgba(113, 76, 70, 1); border: solid 1px #CAA79C; border-style: inset; color: #fff; font-size: 22px; float: left;">
		<option value = "admin" selected>Управляющий</option>
		<option value = "operator_1">Оператор №1</option>
		<option value = "operator_2">Оператор №2</option>
		<option value = "operator_3">Оператор №3</option>
		<option value = "operator_4">Оператор №4</option>
		<option value = "operator_5">Оператор №5</option>
		<option value = "market_manager">Маркетменеджер</option> 
		<option value = "developer">Разработчик</option>
		<option value = "proger_1">proger_1</option>
	</select>
	
	<br><br><br><br>
	
	<a style = "color: #fff;  padding-right: 20px; font-size: 20px; font-family: pragmatica; float: left; " >
		Пароль:
	</a>
	
	<input type = "password" id = "password" name = "password" style = "background: rgba(113, 76, 70, 1); border: solid 1px #CAA79C; border-style: inset; color: #fff;  padding-right: 20px; font-size: 20px; font-family: pragmatica; float: left;" >
	<br><br><br><br>
	<input type = "button" class = "final_button" value = "OK" onclick = "load_read_base_for_admin()">
	
	<br><br>
	
	</strong>
	
</div>
